<nav class="navbar">
    <h1 class="brand">jvalley</h1>
    <ul class="menu">
        <a class="menu_item" href="/login">
            <li>login</li>
        </a>
        <a class="menu_item" href="/register">
            <li>register</li>
        </a>
      
    </ul>
</nav>