<nav class="navbar">
    <h1 class="brand">jvalley</h1>
    <ul class="menu">
        <a class="menu_item" href="/">
            <li>home</li>
        </a>
        <a class="menu_item" href="/about">
            <li>about</li>
        </a>
        <a class="menu_item" href="/contact">
            <li>contact</li>
        </a>
        <a class="menu_item" href="/gallery">
            <li>gallery</li>
        </a>
    </ul>
</nav>